<div class="d-flex align-items-center justify-content-center">
  <h1>Reset your password</h1>  
</div>

<%= form_with model: @user, data: { turbo: false }, url: password_reset_edit_path(token: params[:token]) do |form| %>
  
  <% if form.object.errors.any? %>
    <div class="col-5 col-xs-4 mx-auto py-2">
      <div class="alert alert-danger alert-dismissible fade show shadow text-center border-1 mb-3" role="alert">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="container col-4 mx-auto">
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>
    
    <div class="mb-3">
      <%= form.submit "Reset Password", class: "shadow btn btn-warning" %>
    </div>
  </div>
<% end %>